.Lottery {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: solid 2px gray;
  padding: 1em 0 2em 0;
  border-radius: 10px;
  width: 40em;
  margin: 1em auto auto;
}

.Balls-container {
  display: flex;
}

.Lottery button {
  background-color: darkblue;
  color: white;
  font-size: 120%;
  border-radius: 10px;
  margin-top: 1em;
}

.Lottery button:hover {
  cursor: pointer;
}
